<settings>
    <setting id="APIs" value="cmVwb3NpdG9yeS5rb2RpbA==|" />
    <setting id="AT_Community" value="false" />
    <setting id="AT_Donor" value="false" />
    <setting id="AT_LIMIT" value="0" />
    <setting id="ActionTimeInt" value="2" />
    <setting id="Advert" value="false" />
    <setting id="Advert_Region" value="0" />
    <setting id="Advert_Resolution" value="0" />
    <setting id="AsSeenOn" value="false" />
    <setting id="AutoBackup" value="false" />
    <setting id="AutoJump" value="false" />
    <setting id="AutoOff" value="0" />
    <setting id="AutoOff_Mode" value="0" />
    <setting id="Auto_Start" value="false" />
    <setting id="Autotune" value="false" />
    <setting id="CN_Episodes" value="true" />
    <setting id="CN_Kids" value="false" />
    <setting id="CN_Movies" value="true" />
    <setting id="CN_Music" value="true" />
    <setting id="CN_News" value="true" />
    <setting id="CN_Other" value="true" />
    <setting id="CN_Sports" value="true" />
    <setting id="CN_TV" value="true" />
    <setting id="COLOR_CHANNUM" value="0" />
    <setting id="COM_Donor" value="false" />
    <setting id="Cache_Enabled" value="true" />
    <setting id="ChannelDelay" value="0" />
    <setting id="ChannelLogoFolder" value="special://userdata/addon_data/script.pseudotv.live/logos/" />
    <setting id="ChannelResetSetting" value="0" />
    <setting id="ChannelSharing" value="false" />
    <setting id="ClearCache" value="false" />
    <setting id="ClearLiveArt" value="false" />
    <setting id="ClipLength" value="5" />
    <setting id="ClockMode" value="0" />
    <setting id="ComingUpArtwork" value="1" />
    <setting id="Community_Enabled" value="false" />
    <setting id="Community_Verified" value="0" />
    <setting id="CurrentChannel" value="15" />
    <setting id="DVR_Enabled" value="false" />
    <setting id="DVR_Folder" value="" />
    <setting id="DirectInput" value="true" />
    <setting id="Disable_Watched" value="false" />
    <setting id="Donor_Enabled" value="false" />
    <setting id="Donor_UP" value="Username:Password" />
    <setting id="Donor_Verified" value="0" />
    <setting id="EPG.xInfo" value="false" />
    <setting id="EPGTextEnable" value="1" />
    <setting id="EPGcolor_MovieGenre" value="false" />
    <setting id="EPGcolor_enabled" value="1" />
    <setting id="EnableComingUp" value="2" />
    <setting id="EnableNotify" value="true" />
    <setting id="EnableSettop" value="false" />
    <setting id="Enable_FindLogo" value="false" />
    <setting id="Enable_quickflip" value="false" />
    <setting id="EnhancedGuideData" value="false" />
    <setting id="FANTV_API" value="0da4365d363db853f10fd800b6a245e5" />
    <setting id="ForceChannelReset" value="true" />
    <setting id="ForceLiveChannelReset" value="false" />
    <setting id="Gmail_Pass" value="Password" />
    <setting id="Gmail_User" value="User@gmail.com" />
    <setting id="HdhomerunMaster" value="true" />
    <setting id="HideClips" value="true" />
    <setting id="INTRO_PLAYED" value="true" />
    <setting id="Idle_Screensaver" value="false" />
    <setting id="Include3D" value="true" />
    <setting id="IncludeBCTs" value="true" />
    <setting id="IncludeIceLib" value="true" />
    <setting id="InfoOnChange" value="true" />
    <setting id="InfoTimer" value="1" />
    <setting id="LastChannel" value="14" />
    <setting id="Last_EnhancedGuideData" value="false" />
    <setting id="Last_MEDIA_LIMIT" value="1" />
    <setting id="LogoDB_Anymatch" value="true" />
    <setting id="LogoDB_Fallback" value="true" />
    <setting id="LogoDB_Override" value="false" />
    <setting id="LogoDB_Type" value="2" />
    <setting id="MEDIA_LIMIT" value="1" />
    <setting id="Movietrailers" value="false" />
    <setting id="Normal_Shutdown" value="true" />
    <setting id="Override.LOWPOWER" value="false" />
    <setting id="Override_ok" value="true" />
    <setting id="PTVL_Version" value="0.7.0e" />
    <setting id="PVR_Listing" value="0" />
    <setting id="PlayTimeoutInt" value="60" />
    <setting id="REFRESH_INT" value="2" />
    <setting id="ResetLST" value="10,11,22,230,231,233,234,235,236,237" />
    <setting id="SFX_Enabled" value="false" />
    <setting id="SUPchannel" value="0" />
    <setting id="SettingsFolder" value="" />
    <setting id="ShowChannelBug" value="true" />
    <setting id="ShowSeEp" value="false" />
    <setting id="SkinSelector" value="1" />
    <setting id="StartMode" value="1" />
    <setting id="StartOverTime" value="5" />
    <setting id="StartupMessage" value="false" />
    <setting id="StreamOverTime" value="8" />
    <setting id="SyncXMLTV_Enabled" value="true" />
    <setting id="TMDB_API" value="9c47d05a3f5f3a00104f6586412306af" />
    <setting id="TVDB_API" value="078845CE15BC08A7" />
    <setting id="ThreadMode" value="2" />
    <setting id="UNAlter_ChanBug" value="true" />
    <setting id="UPNP1" value="false" />
    <setting id="UPNP1_IPP" value="IP:9090" />
    <setting id="UPNP1_UPW" value="xbmc:xbmc" />
    <setting id="UPNP2" value="false" />
    <setting id="UPNP2_IPP" value="IP:9090" />
    <setting id="UPNP2_UPW" value="xbmc:xbmc" />
    <setting id="UPNP3" value="false" />
    <setting id="UPNP3_IPP" value="IP:9090" />
    <setting id="UPNP3_UPW" value="xbmc:xbmc" />
    <setting id="UPNP_OFFSET" value="0.1" />
    <setting id="Visitor_GA" value="240868776" />
    <setting id="Warning1" value="false" />
    <setting id="adverts2_type" value="0" />
    <setting id="autoFind3DMovies" value="false" />
    <setting id="autoFindCinema" value="1" />
    <setting id="autoFindCommunity_RSS" value="false" />
    <setting id="autoFindCommunity_Youtube_Channels" value="false" />
    <setting id="autoFindCommunity_Youtube_Networks" value="false" />
    <setting id="autoFindCommunity_Youtube_Playlists" value="false" />
    <setting id="autoFindCommunity_Youtube_Seasonal" value="false" />
    <setting id="autoFindCustom" value="false" />
    <setting id="autoFindIPTV_Path_Local" value="" />
    <setting id="autoFindIPTV_Path_Online" value="" />
    <setting id="autoFindIPTV_Source" value="0" />
    <setting id="autoFindLiveHD" value="0" />
    <setting id="autoFindLiveHDPath" value="" />
    <setting id="autoFindLivePVR" value="false" />
    <setting id="autoFindLive_Path_Local" value="" />
    <setting id="autoFindLive_Path_Online" value="" />
    <setting id="autoFindLive_Source" value="0" />
    <setting id="autoFindMixGenres" value="false" />
    <setting id="autoFindMovieGenres" value="false" />
    <setting id="autoFindMusicGenres" value="false" />
    <setting id="autoFindMusicVideosLocal" value="" />
    <setting id="autoFindNetworks" value="false" />
    <setting id="autoFindPLX_Path_Local" value="" />
    <setting id="autoFindPLX_Path_Online" value="" />
    <setting id="autoFindPLX_Source" value="0" />
    <setting id="autoFindPopcorn" value="false" />
    <setting id="autoFindRecent" value="false" />
    <setting id="autoFindStudios" value="false" />
    <setting id="autoFindSuperFav" value="false" />
    <setting id="autoFindTVGenres" value="false" />
    <setting id="autoFindUSTVNOW" value="false" />
    <setting id="bumperratings" value="false" />
    <setting id="bumpers" value="0" />
    <setting id="bumpersfolder" value="" />
    <setting id="commercials" value="0" />
    <setting id="commercialschannel" value="PLlwhS0wsCzbRNwJ4Epac4rHJJ_6m1JaBm,2,50,1" />
    <setting id="commercialsfolder" value="" />
    <setting id="couchpotato.apikey" value="Enter API KEY" />
    <setting id="couchpotato.baseurl" value="http://localhost:5050" />
    <setting id="couchpotato.enabled" value="false" />
    <setting id="enable_Debug" value="false" />
    <setting id="enable_mute" value="false" />
    <setting id="ga_disable" value="false" />
    <setting id="limit_preferred_language" value="English" />
    <setting id="limit_preferred_region" value="United States" />
    <setting id="numbumpers" value="0" />
    <setting id="numcommercials" value="0" />
    <setting id="numtrailers" value="0" />
    <setting id="platform" value="4" />
    <setting id="plugin_ok_level" value="0" />
    <setting id="reserveChannels" value="false" />
    <setting id="showNextItem" value="true" />
    <setting id="sickbeard.apikey" value="Enter API KEY" />
    <setting id="sickbeard.baseurl" value="http://localhost:8081" />
    <setting id="sickbeard.enabled" value="false" />
    <setting id="timer_amount" value="1" />
    <setting id="trailers" value="0" />
    <setting id="trailersHDnetType" value="2" />
    <setting id="trailersResolution" value="1" />
    <setting id="trailersTitleLimit" value="1" />
    <setting id="trailerschannel" value="MovieclipsCOMINGSOON,1,50,1" />
    <setting id="trailersfolder" value="" />
    <setting id="trailersgenre" value="false" />
    <setting id="xmltvLOC" value="/storage/.kodi/userdata/addon_data/script.pseudotv.live/" />
</settings>
