<settings>
    <setting id="DivxstageResolver_priority" value="100" />
    <setting id="EcostreamResolver_priority" value="100" />
    <setting id="FlashxResolver_priority" value="100" />
    <setting id="MegaUploadResolver_login" value="false" />
    <setting id="MegaUploadResolver_password" value="" />
    <setting id="MegaUploadResolver_priority" value="100" />
    <setting id="MegaUploadResolver_username" value="" />
    <setting id="MegavideoResolver_priority" value="100" />
    <setting id="MovshareResolver_priority" value="100" />
    <setting id="NovamovResolver_priority" value="100" />
    <setting id="PutlockerResolver_priority" value="100" />
    <setting id="RapidvideoResolver_priority" value="100" />
    <setting id="SeeonResolver_priority" value="100" />
    <setting id="SharefilesResolver_priority" value="100" />
    <setting id="SkyloadResolver_priority" value="100" />
    <setting id="Stream2kResolver_priority" value="100" />
    <setting id="TwogbhostingResolver_priority" value="100" />
    <setting id="UfliqResolver_priority" value="100" />
    <setting id="UploadcResolver_priority" value="100" />
    <setting id="VideobbResolver_priority" value="100" />
    <setting id="VideobbResolver_q" value="2" />
    <setting id="VideoweedResolver_priority" value="100" />
    <setting id="VideozerResolver_priority" value="100" />
    <setting id="VidstreamResolver_priority" value="100" />
    <setting id="VidxdenResolver_priority" value="100" />
    <setting id="VimeoResolver_priority" value="100" />
    <setting id="XvidstageResolver_priority" value="100" />
    <setting id="YoutubeResolver_priority" value="100" />
    <setting id="domain" value="http://gozlan.eu" />
    <setting id="nolimitvideoResolver_priority" value="100" />
    <setting id="useProxy" value="true" />
</settings>
