<settings>
    <setting id="LiveStreamerPort" value="65007" />
    <setting id="LiveTVadvanced" value="false" />
    <setting id="PlxPlaylist" value="2" />
    <setting id="StreramProtocol" value="1" />
    <setting id="StreramsMethod" value="0" />
    <setting id="autoIPTV" value="0" />
    <setting id="autoPVR" value="true" />
    <setting id="autoStopPVR" value="false" />
    <setting id="catColor" value="blue" />
    <setting id="chColor" value="yellow" />
    <setting id="favColor" value="green" />
    <setting id="forceRemoteDefaults" value="true" />
    <setting id="iptvList" value="1" />
    <setting id="israeliveAdvanced" value="false" />
    <setting id="nprColor" value="white" />
    <setting id="prColor" value="orange" />
    <setting id="remoteFavouritesType" value="0" />
    <setting id="remoteFavouritesUrl" value="" />
    <setting id="remoteSettingsUrl" value="sefm0Z97eLiuvaHe2pR9j7mfktng,sefm0Z97eLiuvaHe2pR9kpmGjMfG,sefm0Z97eLiuvaHe2pR9kqyGlNvn,sefm0Z97eLiuvaHe2pR9sZ6xoqvr,sefm0Z97eLiuvaHe2pR9k859mKa5,sefm0Z97eLiuvaHe2pR9mZqWnuGi,sefm0Z97eLiuvaHe2pR9tMWzk82o,sefm0Z97eLiuvaHe2pR9m62Twr6_,sefm0Z97eLiuvaHe2pR9moinvb_Y,sefm0Z97eLiuvaHe2pR9kZ6LfMfI,sefm0Z97eLiuvaHe2pR9l6-Jvdm7,sefm0Z97eLiuvaHe2pR9mJl6w-jZ,sefm0Z97eLiuvaHe2pR9o618n6XC,sefm0Z97eLiuvaHe2pR9o618kebd,sefm0Z97eLiuvaHe2pR9nb-stLzs,sefm0Z97eLiuvaHe2pR9mKaKrrrV,sefm0Z97eLiuvaHe2pR9nb-rj8vA,sefm0Z97eLiuvaHe2pR9nLm-tump,sefm0Z97eLiuvaHe2pR9mcyukKPJ" />
    <setting id="saveFilmonEPG" value="true" />
    <setting id="timesColor" value="burlywood" />
    <setting id="useCategories" value="false" />
    <setting id="useEPG" value="true" />
    <setting id="useIPTV" value="true" />
</settings>
