<settings>
    <setting id="browseTvShows" value="true" />
    <setting id="dontUseKiosk" value="false" />
    <setting id="forceView" value="true" />
    <setting id="html5MessageShown" value="true" />
    <setting id="libraryPath" value="special://profile/addon_data/plugin.video.netflixbmc/library" />
    <setting id="password" value="x" />
    <setting id="remoteControl" value="false" />
    <setting id="showProfiles" value="false" />
    <setting id="singleProfile" value="true" />
    <setting id="updateDB" value="true" />
    <setting id="useTMDb" value="true" />
    <setting id="useUtility" value="true" />
    <setting id="username" value="x" />
    <setting id="viewIdActivity" value="51" />
    <setting id="viewIdEpisodesNew" value="503" />
    <setting id="viewIdVideos" value="501" />
    <setting id="winBrowserNew" value="0" />
</settings>
